/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

header ul {
	display: flex;
	background-color: #ffc426;
	list-style-type: none;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	height: auto;
}

header a {
	font-size: 0.6em;
	margin: auto;
	text-decoration: none;
	color: #111;
}

h1{
	margin: 0;
}

img {
	height: 3em;
	padding: 0;
	margin: 0;
}

ul li {
	font-size: 1em;
	margin: auto;
}

ul li:nth-of-type(5) {
	align-self: start;
	justify-self: end;
	padding-left: 1em;
}



body {
	margin: 0;
    padding: 0;
}

a {
	font-size: 0.8em;
	margin: auto;
	padding-top: 1em;
	transform: scale(1, 2);
	text-decoration: none;
	color: #111;
}

body ul {
	display: flex;
	padding: auto;
	list-style-type: none;
}
